* {
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    height: 6000px;
    font-family: "Poppins", sans-serif;
    text-rendering: optimizeSpeed; /* Tối ưu tốc độ hiển thị hình ảnh */
}
/* Common */
h1,
h2 {
    font-family: "Sen", sans-serif;
}

a {
    text-decoration: none;
}

.content {
    width: 1170px;
    max-width: calc(100% - 48px);
    margin: 0 auto;
}

.btn {
    display: inline-block;
    min-width: 118px;
    height: 50px;
    background: #171100;
    border-radius: 25px;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 50px;
    text-align: center;
    color: #ffffff;
}

.btn:hover {
    opacity: 0.9;
}

.mark {
    display: inline-block;
    width: 6px;
    height: 6px;
    background: #ffb900;
    border-radius: 50%;
}

/* Header */
.header {
    background: #fffcf4;
}

.header .navbar {
    display: flex;
    align-items: center;
    padding-top: 36px;
}

.header .navbar .logo {
    width: 85px;
    height: 34px;
}

.header ul {
    display: flex;
    margin-left: auto;
    gap: 42px;
}

.header ul li a {
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.header ul li a:hover {
    color: #171100;
    text-decoration: underline;
}

.header .btn {
    margin-left: 70px;
    min-width: 144px;
    font-size: 1.6rem;
    line-height: 50px;
}

/* Hero */
.hero-wrap {
    padding: 64px 0 65px;
    background: #fffcf4;
}

.hero-wrap .hero-img {
    width: 470px;
    height: 685px;
    object-fit: cover;
    border-radius: 20px;
}

/* img-block */
.hero-wrap .img-block {
    position: relative;
}

.hero-wrap .list-courses {
    position: absolute;
    width: 270px;
    height: 244px;
    background: #ffffff;
    box-shadow: 0px 16px 32px rgba(0, 0, 0, 0.05);
    border-radius: 12px;
    bottom: 48px;
    right: -100px;
}

.hero-wrap .list-courses .column {
    padding: 24px 0 24px 24px;
    display: flex;
    flex-direction: column;
    gap: 14px;
    height: 100%;
}
.hero-wrap .list-courses .courses-item {
    margin-left: 16px;
}

.hero-wrap .list-courses .icon {
    width: 48px;
    height: 48px;
}

.hero-wrap .list-courses h3 {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.76;
    color: #171100;
}

.hero-wrap .list-courses span {
    margin-top: 0;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.hero-wrap .content {
    display: flex;
}

.hero-wrap .info {
    width: 470px;
    margin: 64px 0 0 230px;
}

.hero-wrap .sub-title {
    font-weight: 700;
    font-size: 5.8rem;
    line-height: 1.17;
    letter-spacing: -0.02em;
    color: #171100;
}

.hero-wrap .desc {
    margin-top: 22px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.hero-wrap .row {
    display: flex;
    align-items: center;
}

.hero-wrap .hero-cta {
    margin-top: 38px;
}

.hero-wrap .btn {
    width: 180px;
    height: 64px;
    background: #ffb900;
    color: #fff;
    border-radius: 32px;
    font-size: 1.8rem;
    line-height: 64px;
}

.hero-wrap .icon {
    margin-left: 28px;
    padding: 13px 14px;
    border-radius: 50%;
    background-color: #fff;
    box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.07);
}

.hero-wrap .link {
    margin-left: 14px;
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.hero-wrap .row-engagement {
    margin-top: 48px;
}

.hero-wrap .engagement {
    margin-top: 8px;
    display: flex;
    gap: 28px;
}

.hero-wrap .qty {
    font-family: "Sen", sans-serif;
    font-weight: 700;
    font-size: 4.4rem;
    line-height: 1.23;
    color: #171100;
}

.hero-wrap .row-engagement .desc {
    margin-top: 48px;
}

.hero-wrap .row-engagement span {
    margin-left: 18px;
}

/* Popular-Courses */
.popular-courses {
    margin-top: 200px;
}

.popular-courses .row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-courses .heading {
    width: 458px;
}

.popular-courses .sub-title {
    font-weight: 700;
    font-size: 3.8rem;
    letter-spacing: -0.02em;
    color: #171100;
}

.popular-courses .icon {
    width: 18px;
    height: 18px;
}

.popular-courses .desc {
    margin-top: 16px;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #5f5b53;
}

.popular-courses .prev-icon,
.popular-courses .next-icon {
    padding: 14px 17px;
    border-radius: 50%;
    border: 1px solid #ffb900;
}

.popular-courses .next-icon {
    background: #ffb900;
    margin-left: 18px;
}

.popular-courses .list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
}

.popular-courses .item {
    border: 1px solid #e2dfda;
    border-radius: 12px;
    height: 100%;
}

.popular-courses .info {
    padding: 16px 22px 22px;
}

.popular-courses .thumb {
    width: 100%;
    height: 278px;
    object-fit: cover;
    border-radius: 12px 12px 0px 0px;
}

.popular-courses .title {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular-courses .evaluate {
    display: flex;
    align-items: center;
}

.popular-courses .evaluate span {
    font-weight: 400;
    font-size: 1.6rem;
    color: #fea31b;
}

.popular-courses .desc {
    margin-top: 6px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.popular-courses .row-price {
    margin-top: 12px;
}

.popular-courses .price {
    font-weight: 600;
    font-size: 1.8rem;
    line-height: 1.67;
    color: #171100;
}

.popular-courses .item:first-child .btn {
    background: #ffb900;
}

/* Citation */
.citation {
    margin-top: 200px;
    padding: 96px 0;
    background: #2e2100;
}

.citation .body {
    display: flex;
    justify-content: space-between;
}

.citation .avatar {
    width: 72px;
    height: 72px;
    object-fit: cover;
}

.citation .name {
    margin-top: 18px;
    font-weight: 700;
    font-size: 2.4rem;
    line-height: 1.42;
    color: #f7f7f7;
    white-space: nowrap;
}

.citation .info span {
    margin-top: 4px;
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #bfbcb3;
}

.citation .mark {
    background: #634700;
}

.citation .mark:nth-child(2) {
    background: #ffb900;
}

.citation .desc {
    position: relative;
    width: 770px;
}

.citation .desc img {
    position: absolute;
}

.citation .desc p {
    margin: 28px 0 0 30px;
    font-style: italic;
    font-weight: 400;
    font-size: 2.6rem;
    line-height: 1.54;
    color: #ffffff;
}

/* Review */
.review {
    margin-top: 200px;
}

.review .body {
    display: flex;
    /* width: 100%; */
}

.review .list-img {
    display: flex;
    width: 50%;
    gap: 30px;
}

.review .images {
    width: 270px;
    /* width: 50%; */
    height: 404px;
    object-fit: cover;
    border-radius: 16px;
}

.review .images:first-child {
    margin-top: 34px;
}

.review .info {
    margin: 58px 0 0 130px;
    width: 50%;
}

.review .sub-title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    letter-spacing: -0.02em;
    color: #171100;
}

.review .desc,
.review .info span {
    display: block;
    margin-top: 16px;
    width: 458px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #5f5b53;
}

.review .btn {
    margin-top: 32px;
    width: 137px;
    font-size: 1.6rem;
    background: #ffb900;
    border-radius: 26px;
}

.review-goals .body {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}

.review-goals .info {
    margin: 0;
}

.review-goals .desc {
    width: 570px;
}

.review.review-goals .images {
    margin-left: 115px;
    margin-top: 0;
    /* width: 470px !important; */
    height: 440px;
    width: 100%;
}

/* Our Blog */
.blog {
    margin-top: 200px;
    padding: 96px 0;
    background: #fffcf4;
}

.blog .sub-title {
    font-weight: 700;
    font-size: 3.8rem;
    line-height: 1.26;
    text-align: center;
    letter-spacing: -0.02em;
    color: #130606;
}

.blog .desc {
    margin: 16px auto 0;
    width: 448px;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
    color: #696262;
}

.blog .list {
    margin-top: 55px;
    display: flex;
    gap: 30px;
    list-style: none;
    border-radius: 16px;
}

.blog .item {
    background-color: #fff;
}

.blog .thumb {
    height: 250px;
    width: 100%;
    object-fit: cover;
    border-radius: 16px 16px 0 0;
}

.blog .info {
    padding: 20px 20px 28px;
}

.blog .date-time {
    display: flex;
    align-items: center;
}

.blog .mark {
    margin-right: 4px;
}

.blog .date {
    font-weight: 400;
    font-size: 1.4rem;
    line-height: 1.86;
    color: #5f5b53;
}

.blog .separate {
    margin-top: 12px;
    width: 160px;
    height: 1px;
    background: #e2dfda;
    border-radius: 0.5px;
}

.blog .info strong {
    margin-top: 12px;
    display: block;
    font-weight: 600;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #171100;
}

.blog .btn {
    margin-top: 12px;
}

.blog .item:first-child .btn {
    background: #FFB900;
}

.blog .other {
    margin-top: 38px;
    text-align: center;
}

.blog .other .mark {
    margin-right: 0;
}

.blog .other .mark:first-child,
.blog .other .mark:last-child {
    background: #5F5B53;
}
